<!DOCTYPE html>
<html>

<meta charset="utf-8">
<title>问卷调查</title>
<link href="css/index.css" rel="stylesheet"/>
<link href="css/work.css" rel="stylesheet"/>
<!-- 引入样式 -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css"> -->
<script src="js/lib-flexible.js"></script>
<script src="js/flexible.debug.js"></script>
<!-- 引入组件 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script> -->
<script src='js/zepto.js'></script>
<script src="js/common_param.js"></script>
<script src="js/layer.js"></script>
</head>
<body>
    <div id="app1">
        <div class="sur">
            <div class="sur-head">
                <span class="s-h">{{paper.paperName}}</span>
            </div>
            <div class="sur-progress">
                <div class="pro"><div class="pro-f" :style="{width:w+'px'}"></div></div>
                <div class="gre"><span>{{num}}</span>/{{totalNum}}</div>
            </div>
        </div>
        <div class="ans">
            <ul>
                <li v-for="item in question">
                        <div class="ans-q">{{item.name}}</div>
                        <div class="ans-a" v-if="item.type=='SINGLE'">
                            <div class="ans-l">
                                <input type="radio" class="ans1" :id="'ans1'+item.id" :name="'ans'+item.id"/>
                                <label :for="'ans1'+item.id" dataid="A">{{item.A}}</label>
                            </div>
                            <div class="ans-l">
                                <input type="radio" class="ans2" :id="'ans2'+item.id" :name="'ans'+item.id" />
                                <label :for="'ans2'+item.id" dataid="B">{{item.B}}</label>
                            </div>
                            <div class="ans-l" v-if="item.C!=''">
                                <input type="radio" class="ans3" :id="'ans3'+item.id" :name="'ans'+item.id" />
                                <label :for="'ans3'+item.id" dataid="C">{{item.C}}</label>
                            </div>
                            <div class="ans-l" v-if="item.D!=''">
                                <input type="radio" class="ans4" :id="'ans4'+item.id" :name="'ans'+item.id" />
                                <label :for="'ans4'+item.id" dataid="D">{{item.D}}</label>
                            </div>
                        </div>
                        <div class="ans-a" v-if="item.type=='MULTIP'">
                                <div class="ans-l">
                                    <input type="checkbox" class="ans1" :id="'ans1'+item.id" :name="'ans'+item.id"/>
                                    <label :for="'ans1'+item.id" dataid="A">{{item.A}}</label>
                                </div>
                                <div class="ans-l">
                                    <input type="checkbox" class="ans2" :id="'ans2'+item.id" :name="'ans'+item.id" />
                                    <label :for="'ans2'+item.id" dataid="B">{{item.B}}</label>
                                </div>
                                <div class="ans-l" v-if="item.C!=''">
                                    <input type="checkbox" class="ans3" :id="'ans3'+item.id" :name="'ans'+item.id" />
                                    <label :for="'ans3'+item.id" dataid="C">{{item.C}}</label>
                                </div>
                                <div class="ans-l" v-if="item.D!=''">
                                    <input type="checkbox" class="ans4" :id="'ans4'+item.id" :name="'ans'+item.id" />
                                    <label :for="'ans4'+item.id" dataid="D">{{item.D}}</label>
                                </div>
                            </div>
                    </li>
            </ul>
        </div>
        <div class="buttGroup">
            <button class="btn prev" v-on:click="getPrevQuestion" disabled>上一页</button>
            <button class="btn dark next" v-on:click="getNextQuestion">下一页</button>
            <button class="btn dark" id="submit" style="display: none">提交</button>
        </div>

    </div>    
    <script src="js/survey-detail.js"></script> 
</body>
</html>